@media screen and (min-width: 850px) {
    .whole_page {
        padding-bottom: 200px;
    }

    .about_content {
        margin: 60px auto 60px auto;
        text-align: left;
        width: 60%;

    }

    .about_sections {
        margin-bottom: 60px;
        padding: 30px;
        border-radius: 10px;

    }

    .about_sections h2 {

    }

    .hus {
        margin-top: 50px;
        font-size: 1.2em;
        padding: 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .about_sections p {

    }

    .about_heads {
        margin-bottom: 20px;
    }

    .about_bodies {

        margin: auto;
    }
}


