
.upper {
    padding: 10px;
}

.container {;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#contact-div {
    color: #fbfbfd;
}

.person {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 20px;
}
