#contact-div {
    text-align: left;
    float: left;
    margin-top: 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact-individual p {

}

.contact-individual a {

}