.upper {
    font-family: sans-serif;
}

.container_f {
    padding: 40px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

#phone_numbers {
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

#contact-div {
    color: #fbfbfd;
}

.person {
    color: #164D60;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 10px;
}



.copyright {
    color: white;
    text-align: center;
}