.all_home {
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

#hm_img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;

    z-index: -1;
}

.homeContent {
    margin-top: 50px;
}

.head h1 {
    font-size: 3.5em;
}
