.slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftArrow {
    color: black;
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 4rem;
    cursor: pointer;
    user-select: none;
    transition: .4s ease-in;
    z-index: 10;
}

.rightArrow {
    color: black;
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 4rem;
    cursor: pointer;
    user-select: none;
    transition: .4s ease-in;
    z-index: 10;
}

.leftArrow:hover, .rightArrow:hover {
    font-size: 5rem;
}

.image {
    width: 90%;
    height: 600px;
    margin: auto;
    border-radius: 10px;
}

.caption {
    background-color: white;
    border-radius: 10px;
    position: absolute;
    text-align: left;
    left: 20%;
    padding: 2%;
    width: auto;
    font-weight: bold;
    top: 10%;
}

.caption li {
    padding: 10px;
}
.slide-active {
    transition-duration: 1s;
    animation: appear 1s ease-in;
}

.slide {
    display: none;
}

@keyframes appear {
    0% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
