#page {
    /*add background info here */
    position: relative;
}

#topItem {
    background-color: rgba(3,3,3, 0.4);
    width: 100%;
    height: 70px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.container {
    padding: 5px 20px 5px 20px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.container_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

img {
    height: 50px;
}
.container_2 {
    vertical-align: middle;
    text-align: right;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline;
    padding: 10px;
}


#middleItem {
    position: relative;
    text-align: center;
    height: auto;
    margin-top: 80px;
    margin-bottom: 205px;
    background-color: red;
    z-index: 3;
}


#bottomItem {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: gray;
    width: 100%;
    height: 200px;
    z-index: -1;
}
